DATABASE_URL="mongodb://root:prisma@mongo:27018/yolo?authSource=admin"
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
REDIRECT_IP=127.0.0.1

ALTV_HOST=0.0.0.0
ALTV_NAME=rift.lt
ALTV_PORT=7788
ALTV_PASSWORD=
ALTV_ANNOUNCE=false
ALTV_DEBUG=true
ALTV_MODULES=js-module-v2
ALTV_RESOURCES=resource-control,main,qa-tools
# ALTV_VOICE_EXTERNAL_HOST=voice
# ALTV_VOICE_EXTERNAL_PORT=7798
# ALTV_VOICE_EXTERNAL_PUBLIC_HOST=127.0.0.1
# ALTV_VOICE_EXTERNAL_PUBLIC_PORT=7799
# ALTV_VOICE_EXTERNAL_SECRET=1234567890

GRAYLOG_NODE_ID_FILE= "/usr/share/graylog/data/config/node-id"
GRAYLOG_HTTP_BIND_ADDRESS= "0.0.0.0:9000"
GRAYLOG_ELASTICSEARCH_HOSTS= "http://opensearch:9200"
GRAYLOG_MONGODB_URI="mongodb://root:prisma@mongo:27018/graylog?authSource=admin"
GRAYLOG_REPORT_DISABLE_SANDBOX=true # To make reporting (headless_shell) work inside a Docker container
GRAYLOG_PASSWORD_SECRET=
GRAYLOG_ROOT_PASSWORD_SHA2=
GRAYLOG_HTTP_EXTERNAL_URI="http://127.0.0.1:9000/"
