DATABASE_URL="mongodb://root:prisma@mongo:27018/yolo?authSource=admin"
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
REDIRECT_IP=127.0.0.1
NODE_ENV=development # should not be changed, otherwise vue reactive functionality breaks because of missing meta information about reactive changes

ALTV_USE_ENV_CONFIG=true
ALTV_HOST=0.0.0.0
ALTV_NAME=rift.lt
ALTV_PORT=7788
ALTV_PASSWORD=
ALTV_ANNOUNCE=false
ALTV_DEBUG=true
ALTV_MODULES=js-module,js-module-v2,js-bytecode-module
ALTV_RESOURCES=ipls/*,peds/*,weapons/*,resource-control,main
SERVER_ENV=development
ALTV_VOICE_EXTERNAL_HOST=voice
ALTV_VOICE_EXTERNAL_PORT=7798
ALTV_VOICE_EXTERNAL_PUBLIC_HOST=127.0.0.1
ALTV_VOICE_EXTERNAL_PUBLIC_PORT=7799
ALTV_VOICE_EXTERNAL_SECRET=1234567890

# you can put custom built modules (js, jsv2, etc) to /altv/custom-modules folder
# and set this flag to `true` if you want the server to load them instead of the ones from cdn
USE_CUSTOM_MODULE=false
