@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 21.2 85.7% 55.85%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 21.2 85.7% 55.85%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-ExtraLight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}

:root {
  /* makes 1rem = 16px at 1080px height */
  font-size: max(10px, 1.4814814814814814vh);
}

:main {
  --v-theme-background: transparent !important;
}

html,
body {
  @apply overflow-hidden;
}

body {
  @apply m-0 scroll-smooth font-sans;
  font-family: Akrobat, sans-serif;
  /* background: #111; */
  /* background-image: url(https://news-cdn.softpedia.com/images/news2/GTA-5-Gets-New-Gorgeous-4K-Screenshots-on-PC-478043-23.jpg); */
  /* background-image: url(/assets/game-scene.webp); */
  /* background-image: url(https://kagi.com/proxy/rare-gta-5-player-completes-no-damage-run-in-nine-hours-he-has-only-1-hp-throughout-his-gameplay.jpg?c=p5frydODQJvzth8KtOJUED5cQXQh7fMuG2ftQI_WpTRKptu5G81HIkQdnxgRwu38g7N9gZ3PbA_qgdUHkD2prX5xYMO0ZAREMmsh_DQ6fA30mvK7qgjuEsHGpwbNbghTUoHGI5kUg13tHC1jjXbxePkkkgORPLN4re7FXVq41wFtaGPCFZ4TEO3JxmVMGmrzFePsYlIBMBtmATocVAMpZMWQORXLinPKW1ShUoaF1Nw%3D); */
  /* background-image: url(https://media.discordapp.net/attachments/542059113983508490/1227058217016627200/x9fZicF.png?ex=66270604&is=66149104&hm=e2f5b95b23c70fe38ec7b977b6ebac6ea4187ab84098c765e8252bbf161b736f&=&format=webp&quality=lossless&width=1851&height=1041); */
  /* background-size: cover; */
}

::-webkit-scrollbar {
  height: var(--scrollbar-width, auto);
  width: var(--scrollbar-width, auto);
}

::-webkit-scrollbar-thumb {
  @apply rounded-[7px] border-4 bg-clip-padding shadow-[inset_-1px_-1px_0px_rgba(0,0,0,0.05),inset_1px_1px_0px_rgba(0,0,0,0.05)];
  background-color: var(--scrollbar-background-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

.rifles {
  &::-webkit-scrollbar {
    @apply m-0 h-[4px] w-[4px];
  }

  &::-webkit-scrollbar-thumb {
    --scrollbar-background-color: #fff;
    @apply rounded-full border-none bg-clip-content shadow-none;
  }

  &::-webkit-scrollbar-track {
    --scrollbar-track-color: rgba(255, 255, 255, 0.03);
    @apply rounded-full;
  }
}

.clothes {
  &::-webkit-scrollbar {
    @apply m-0 w-[4px];
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
    --scrollbar-track-color: rgb(from #D9D9D9 r g b / 20%);
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full border-none bg-clip-content shadow-none;
    --scrollbar-background-color: #FFDA57;
  }
}

.scrollbar-red {
  --scrollbar-background-color: #9b2727;
  --scrollbar-track-color: rgb(from #D9D9D9 r g b / 20%);
}

.scrollbar-white {
  --scrollbar-background-color: #fff;
  --scrollbar-track-color: rgb(from #D9D9D9 r g b / 20%);
}

.scrollbar-gray {
  --scrollbar-background-color: #9b9b9b;
  --scrollbar-track-color: rgb(from #D9D9D9 r g b / 20%);
}

.scrollbar-horizontal::-webkit-scrollbar {
  --scrollbar-width: 0.3125rem;
}

.scrollbar-vertical::-webkit-scrollbar {
  --scrollbar-width: 0.1875rem;
}

.scrollbar-left {
  direction: rtl;
}

.scrollbar-left > * {
  direction: ltr;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.v-application {
  @apply !bg-transparent;
}

.v-card-item__content {
  @apply overflow-visible;
}

.v-card--transparent {
  @apply !bg-black/50;
}

.text-shadow {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0px 2px 0 #000,
    1px 2px 0 #000,
    2px 2px 0 #000;
}

.crisp-shadow {
  text-shadow:
    -0.81px -0.59px 0 #000,
    0.71px -0.71px 0 #000,
    1px 0.09px 0 #000,
    0.89px 0.45px 0 #000,
    0.77px -0.64px 0 #000,
    0.45px 0.89px 0 #000,
    -0.64px 0.77px 0 #000,
    0.16px 0.99px 0 #000,
    1px 0px 0 #000,
    -0.45px 0.89px 0 #000,
    -0.59px 0.81px 0 #000,
    -0.95px 0.31px 0 #000,
    0.59px -0.81px 0 #000,
    0.95px -0.31px 0 #000,
    1px -0.09px 0 #000,
    -0.16px -0.99px 0 #000,
    0.64px -0.77px 0 #000,
    -0.71px 0.71px 0 #000,
    -0.09px 1px 0 #000,
    0.81px 0.59px 0 #000,
    -0.09px -1px 0 #000,
    -0px -1px 0 #000,
    0.09px -1px 0 #000,
    0.31px -0.95px 0 #000,
    -0.71px -0.71px 0 #000,
    0px 1px 0 #000,
    0.09px 1px 0 #000,
    -0.89px -0.45px 0 #000,
    -0.45px -0.89px 0 #000,
    -1px 0.09px 0 #000,
    0.45px -0.89px 0 #000,
    -0.16px 0.99px 0 #000,
    -0.77px 0.64px 0 #000,
    -0.99px -0.16px 0 #000,
    -0.59px -0.81px 0 #000,
    0.31px 0.95px 0 #000,
    -0.64px -0.77px 0 #000,
    -1px 0px 0 #000,
    -0.95px -0.31px 0 #000,
    0.81px -0.59px 0 #000,
    -1px -0.09px 0 #000,
    0.99px -0.16px 0 #000,
    -0.89px 0.45px 0 #000,
    -0.99px 0.16px 0 #000,
    0.77px 0.64px 0 #000,
    0.95px 0.31px 0 #000,
    -0.81px 0.59px 0 #000,
    0.64px 0.77px 0 #000,
    -0.77px -0.64px 0 #000,
    0.59px 0.81px 0 #000,
    -0.31px -0.95px 0 #000,
    0.89px -0.45px 0 #000,
    0.99px 0.16px 0 #000,
    0.16px -0.99px 0 #000,
    0.71px 0.71px 0 #000,
    -0.31px 0.95px 0 #000;
}

.yellow-gradient-border {
  border-image: linear-gradient(to bottom, #ffda57, transparent) 1;
  @apply absolute left-0 right-0 top-0 -z-10 h-full w-full border border-solid border-transparent bg-clip-padding;
}

.yellow-border-bottom {
  @apply absolute bottom-0 left-[2px] -z-10 h-[1px] w-full origin-[0_0] -rotate-[10deg] bg-[rgba(102,86,41,0.5)];
}

.blue-gradient-border {
  border-image: linear-gradient(to bottom, #4850ff, transparent) 1;
  @apply absolute left-0 top-0 -z-10 h-full w-full border border-solid border-transparent bg-clip-padding;
}

.blue-border-bottom {
  @apply absolute left-[1px] top-12 -z-10 h-[1px] w-full origin-[0_0] -rotate-[10deg] bg-[#4850ff];
}

.green-gradient-border {
  border-image: linear-gradient(to bottom, #95c82a, transparent) 1;
  @apply absolute left-0 top-0 -z-10 h-full w-full border border-solid border-transparent bg-clip-padding;
}

.cyan-gradient-border {
  border-image: linear-gradient(to bottom, #51c3c3, transparent) 1;
  @apply absolute left-0 top-0 -z-10 h-full w-full border border-solid border-transparent bg-clip-padding;
}

.crimson-gradient-border {
  border-image: linear-gradient(to bottom, #ff4a4a, transparent) 1;
  @apply absolute left-0 top-0 -z-10 h-full w-full border border-solid border-transparent bg-clip-padding;
}

.softwhite-gradient-border {
  border-image: linear-gradient(to bottom, #ffffff6d, transparent) 1;
  @apply absolute left-0 top-0 -z-10 h-full w-full border border-solid border-transparent bg-clip-padding;
}

.white-gradient-border {
  border-image: linear-gradient(to bottom, #fff, transparent) 1;
  @apply absolute left-0 top-0 -z-10 h-full w-full border border-solid border-transparent bg-clip-padding;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.absolute-center-x {
  @apply absolute left-1/2 -translate-x-1/2;
}

.absolute-center-y {
  @apply absolute top-1/2 -translate-y-1/2;
}

.text-limited {
  background: linear-gradient(270deg, #FCFF62 0%, #7BFF29 18.5%, #28CBA4 37%, #06F 54.5%, #904CB9 69%, #B73F3F 82%, #EE9D24 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
