@tailwind utilities;

:root {
  font-size: max(12px, 1.2vh);
}

:main {
  --v-theme-background: transparent !important;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  /* background: #111; */
  /* background-image: url(https://news-cdn.softpedia.com/images/news2/GTA-5-Gets-New-Gorgeous-4K-Screenshots-on-PC-478043-23.jpg); */
  /* background-image: url(/assets/game-scene.png); */
  /* background-size: ; */
}

*:has(::-webkit-scrollbar) {
  margin-right: -14px;
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.v-application {
  background: transparent !important;
}

.v-card-item__content {
  overflow: visible;
}

.v-card--transparent {
  --card-bg-color: rgba(0, 0, 0, 0.5);
  background: var(--card-bg-color) !important;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0px 2px 0 #000,
    1px 2px 0 #000, 2px 2px 0 #000;
}

.crisp-shadow {
  text-shadow: -0.81px -0.59px 0 #000, 0.71px -0.71px 0 #000, 1px 0.09px 0 #000,
    0.89px 0.45px 0 #000, 0.77px -0.64px 0 #000, 0.45px 0.89px 0 #000, -0.64px 0.77px 0 #000,
    0.16px 0.99px 0 #000, 1px 0px 0 #000, -0.45px 0.89px 0 #000, -0.59px 0.81px 0 #000,
    -0.95px 0.31px 0 #000, 0.59px -0.81px 0 #000, 0.95px -0.31px 0 #000, 1px -0.09px 0 #000,
    -0.16px -0.99px 0 #000, 0.64px -0.77px 0 #000, -0.71px 0.71px 0 #000, -0.09px 1px 0 #000,
    0.81px 0.59px 0 #000, -0.09px -1px 0 #000, -0px -1px 0 #000, 0.09px -1px 0 #000,
    0.31px -0.95px 0 #000, -0.71px -0.71px 0 #000, 0px 1px 0 #000, 0.09px 1px 0 #000,
    -0.89px -0.45px 0 #000, -0.45px -0.89px 0 #000, -1px 0.09px 0 #000, 0.45px -0.89px 0 #000,
    -0.16px 0.99px 0 #000, -0.77px 0.64px 0 #000, -0.99px -0.16px 0 #000, -0.59px -0.81px 0 #000,
    0.31px 0.95px 0 #000, -0.64px -0.77px 0 #000, -1px 0px 0 #000, -0.95px -0.31px 0 #000,
    0.81px -0.59px 0 #000, -1px -0.09px 0 #000, 0.99px -0.16px 0 #000, -0.89px 0.45px 0 #000,
    -0.99px 0.16px 0 #000, 0.77px 0.64px 0 #000, 0.95px 0.31px 0 #000, -0.81px 0.59px 0 #000,
    0.64px 0.77px 0 #000, -0.77px -0.64px 0 #000, 0.59px 0.81px 0 #000, -0.31px -0.95px 0 #000,
    0.89px -0.45px 0 #000, 0.99px 0.16px 0 #000, 0.16px -0.99px 0 #000, 0.71px 0.71px 0 #000,
    -0.31px 0.95px 0 #000;
}
