@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Thin.eot");
  src: url("/fonts/Akrobat-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Akrobat-Thin.woff2") format("woff2"),
    url("/fonts/Akrobat-Thin.woff") format("woff"),
    url("/fonts/Akrobat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-ExtraLight.eot");
  src: url("/fonts/Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Akrobat-ExtraLight.woff2") format("woff2"),
    url("/fonts/Akrobat-ExtraLight.woff") format("woff"),
    url("/fonts/Akrobat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Light.eot");
  src: url("/fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Akrobat-Light.woff2") format("woff2"),
    url("/fonts/Akrobat-Light.woff") format("woff"),
    url("/fonts/Akrobat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Regular.eot");
  src: url("/fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Akrobat-Regular.woff2") format("woff2"),
    url("/fonts/Akrobat-Regular.woff") format("woff"),
    url("/fonts/Akrobat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-SemiBold.eot");
  src: url("/fonts/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Akrobat-SemiBold.woff2") format("woff2"),
    url("/fonts/Akrobat-SemiBold.woff") format("woff"),
    url("/fonts/Akrobat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Bold.eot");
  src: url("/fonts/Akrobat-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Akrobat-Bold.woff2") format("woff2"),
    url("/fonts/Akrobat-Bold.woff") format("woff"),
    url("/fonts/Akrobat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Akrobat";
  src: url("/fonts/Akrobat-Black.eot");
  src: url("/fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Akrobat-Black.woff2") format("woff2"),
    url("/fonts/Akrobat-Black.woff") format("woff"),
    url("/fonts/Akrobat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

:root {
  font-size: max(10px, 1.2vh);
}

:main {
  --v-theme-background: transparent !important;
}

html,
body {
  @apply overflow-hidden;
}

body {
  @apply font-sans scroll-smooth m-0;
  /* background: #111; */
  /* background-image: url(https://news-cdn.softpedia.com/images/news2/GTA-5-Gets-New-Gorgeous-4K-Screenshots-on-PC-478043-23.jpg); */
  /* background-image: url(/assets/game-scene.png); */
  /* background-image: url(https://kagi.com/proxy/rare-gta-5-player-completes-no-damage-run-in-nine-hours-he-has-only-1-hp-throughout-his-gameplay.jpg?c=p5frydODQJvzth8KtOJUED5cQXQh7fMuG2ftQI_WpTRKptu5G81HIkQdnxgRwu38g7N9gZ3PbA_qgdUHkD2prX5xYMO0ZAREMmsh_DQ6fA30mvK7qgjuEsHGpwbNbghTUoHGI5kUg13tHC1jjXbxePkkkgORPLN4re7FXVq41wFtaGPCFZ4TEO3JxmVMGmrzFePsYlIBMBtmATocVAMpZMWQORXLinPKW1ShUoaF1Nw%3D);
  background-size: cover; */
}

*:has(::-webkit-scrollbar) {
  @apply -mr-[14px];
}

::-webkit-scrollbar {
  @apply w-[14px] h-[18px];
}

::-webkit-scrollbar-thumb {
  @apply border-4 bg-clip-padding rounded-[7px] bg-black/[0.15] shadow-[inset_-1px_-1px_0px_rgba(0,0,0,0.05),inset_1px_1px_0px_rgba(0,0,0,0.05)];
}

.rifles::-webkit-scrollbar {
  @apply w-[4px] m-0;
}

.rifles::-webkit-scrollbar-thumb {
  @apply bg-white shadow-none border-none rounded-full bg-clip-content;
}

.rifles::-webkit-scrollbar-track {
  @apply bg-white/[0.03] rounded-full;
}

.clothes::-webkit-scrollbar {
  @apply w-[4px] m-0;
}

.clothes::-webkit-scrollbar-track {
  @apply bg-[#D9D9D9]/20 rounded-full;
}

.clothes::-webkit-scrollbar-thumb {
  @apply bg-sunriseYellow shadow-none border-none rounded-full bg-clip-content;
}

.v-application {
  @apply !bg-transparent;
}

.v-card-item__content {
  @apply overflow-visible;
}

.v-card--transparent {
  @apply !bg-black/50;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0px 2px 0 #000,
    1px 2px 0 #000, 2px 2px 0 #000;
}

.crisp-shadow {
  text-shadow: -0.81px -0.59px 0 #000, 0.71px -0.71px 0 #000, 1px 0.09px 0 #000,
    0.89px 0.45px 0 #000, 0.77px -0.64px 0 #000, 0.45px 0.89px 0 #000, -0.64px 0.77px 0 #000,
    0.16px 0.99px 0 #000, 1px 0px 0 #000, -0.45px 0.89px 0 #000, -0.59px 0.81px 0 #000,
    -0.95px 0.31px 0 #000, 0.59px -0.81px 0 #000, 0.95px -0.31px 0 #000, 1px -0.09px 0 #000,
    -0.16px -0.99px 0 #000, 0.64px -0.77px 0 #000, -0.71px 0.71px 0 #000, -0.09px 1px 0 #000,
    0.81px 0.59px 0 #000, -0.09px -1px 0 #000, -0px -1px 0 #000, 0.09px -1px 0 #000,
    0.31px -0.95px 0 #000, -0.71px -0.71px 0 #000, 0px 1px 0 #000, 0.09px 1px 0 #000,
    -0.89px -0.45px 0 #000, -0.45px -0.89px 0 #000, -1px 0.09px 0 #000, 0.45px -0.89px 0 #000,
    -0.16px 0.99px 0 #000, -0.77px 0.64px 0 #000, -0.99px -0.16px 0 #000, -0.59px -0.81px 0 #000,
    0.31px 0.95px 0 #000, -0.64px -0.77px 0 #000, -1px 0px 0 #000, -0.95px -0.31px 0 #000,
    0.81px -0.59px 0 #000, -1px -0.09px 0 #000, 0.99px -0.16px 0 #000, -0.89px 0.45px 0 #000,
    -0.99px 0.16px 0 #000, 0.77px 0.64px 0 #000, 0.95px 0.31px 0 #000, -0.81px 0.59px 0 #000,
    0.64px 0.77px 0 #000, -0.77px -0.64px 0 #000, 0.59px 0.81px 0 #000, -0.31px -0.95px 0 #000,
    0.89px -0.45px 0 #000, 0.99px 0.16px 0 #000, 0.16px -0.99px 0 #000, 0.71px 0.71px 0 #000,
    -0.31px 0.95px 0 #000;
}

.yellow-gradient-border {
  border-image: linear-gradient(to bottom, #ffda57, transparent) 1;
  @apply absolute top-0 left-0 right-0 w-full h-full border border-solid border-transparent bg-clip-padding -z-10;
}

.yellow-border-bottom {
  @apply absolute bottom-0 left-[2px] w-full h-[1px] bg-[rgba(102,86,41,0.5)] -rotate-[10deg] origin-[0_0] -z-10;
}

.blue-gradient-border {
  border-image: linear-gradient(to bottom, #4850ff, transparent) 1;
  @apply absolute top-0 left-0 w-full h-full border border-solid border-transparent bg-clip-padding -z-10;
}

.blue-border-bottom {
  @apply absolute top-12 left-[1px] w-full h-[1px] bg-[#4850ff] -rotate-[10deg] origin-[0_0] -z-10;
}

.green-gradient-border {
  border-image: linear-gradient(to bottom, #95c82a, transparent) 1;
  @apply absolute top-0 left-0 w-full h-full border border-solid border-transparent bg-clip-padding -z-10;
}

.cyan-gradient-border {
  border-image: linear-gradient(to bottom, #51c3c3, transparent) 1;
  @apply absolute top-0 left-0 w-full h-full border border-solid border-transparent bg-clip-padding -z-10;
}

.crimson-gradient-border {
  border-image: linear-gradient(to bottom, #ff4a4a, transparent) 1;
  @apply absolute top-0 left-0 w-full h-full border border-solid border-transparent bg-clip-padding -z-10;
}

.softwhite-gradient-border {
  border-image: linear-gradient(to bottom, #ffffff6d, transparent) 1;
  @apply absolute top-0 left-0 w-full h-full border border-solid border-transparent bg-clip-padding -z-10;
}

.white-gradient-border {
  border-image: linear-gradient(to bottom, #fff, transparent) 1;
  @apply absolute top-0 left-0 w-full h-full border border-solid border-transparent bg-clip-padding -z-10;
}
