# Prisma
DATABASE_URL="mongodb://root:prisma@localhost:27018/yolo?authSource=admin"

# Discord auth
DISCORD_CLIENT_ID=1063548870640029727
DISCORD_CLIENT_SECRET=YvDZEK7byHRBNNIHtwzHuneFgmeJ4MDs

REDIRECT_IP=127.0.0.1
