data/*.bin
modules/*
custom-modules/*
resources/main/*
altv-crash-handler.exe
altv-server.exe
libnode.dll
libnode.so
libnodev2.dll
libnodev2.so
server.log
**/*.tsbuildinfo
*.log
.env
.server-crashes-cache/
cache/
node_modules/
data-dump/
